.menu {
    background-color: rgb(247, 50, 220);
    display: flex;
    justify-content: space-around;
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: none;
    /* position: absolute;
    top: 0;
    width: 100%; */
}

.element-menu {
    text-decoration: none;
    color: black;
}

.button:hover {
    border-radius: 10px;
    background-color: rgb(252, 133, 236);
}

.about-me {
    background-color: rgb(247, 50, 220);
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    margin-top: 10px;

}

.paket {
    background-color: rgb(247, 50, 220);
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.footer {
    background-color: rgb(247, 50, 220);
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 300px;
    height: 200px;
}

.logo {
    width: 250px;
    height: 200px;
    border: solid 3px rgb(247, 50, 220);
    border-radius: 50%;
    transition: 2s;
}

.logo:hover {
    box-shadow: 10px 10px 30px rgb(238, 95, 219);
    ;
    transform: scale(1.2);
}

.logo-container {
    display: flex;
    justify-content: space-around;
}

.logo-footer {
    width: 200px;
    height: 150px;
    border: solid 2px rgb(247, 50, 220);
    border-radius: 50%;
    padding: 5px;
}

.contact-element {
    padding: 5px;
}

.container-paket {
    display: flex;
}




@media screen and (max-width: 375px) {
    .body {
        width: 375px;
    }

    .container-paket {
        display: flex;
        flex-direction: column;
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 960px) {
    .body {
        width: 960px;

    }
}

@media screen and (max-width: 1200px) {
    .body {
        width: 1200px;

    }
}